/* RESET */
* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #f4f6f8;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.nav-inner {
  max-width: 1200px;
  margin: auto;
  padding: 14px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu {
  list-style: none;
  display: flex;         
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.menu li:hover {
  color: #2676c6;
}


.login-top {
  background: #e3f2fd;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.main {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  width: 420px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.login-btn {
     width: 200px; 
    padding: 12px;
    border: none;
    border-radius: 80px;
    background: linear-gradient(135deg, #1976d2, #42a5f5);
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(114, 60, 60, 0.2)
}
.icon1 {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    background: #adaef4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
}
.Lock {
    width: 20px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

}
.form-row {
  display: flex;
  gap: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.input-group label {
  font-weight: 60;
  margin-bottom: 8px;
  color: #333;
}

.input-box {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px; 
  /* ปรับปุ่มให้ดูกลม เขียนเองไม่ใช่  gpt ไอ่เเก*/
  padding: 12px;
}

.input-box input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
}

.icon {
  margin-right: 10px;
  font-size: 15px;
}