body{

font-family:sans-serif;
background:#f5f6fa;
margin:0;

}

/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);

}

.navbar ul{

display:flex;
list-style:none;
gap:30px;

}

.logout{

color:red;

}

/* CONTAINER */

.container{

width:900px;
margin:30px auto;

}

/* HEADER */

.header{

display:flex;
justify-content:space-between;
align-items:center;

}

.back-btn{

background:#eee;
border:none;
padding:15px 30px;
border-radius:10px;
cursor:pointer;

}

/* BOOKING ID */

.booking-id{

color:#666;
margin-bottom:50px;

}

/* CARD */

.card{

background:white;
padding:50px;
border-radius:50px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);

}

.card-top{

display:flex;
justify-content:space-between;
align-items:center;

}

.status{

background:#4c6fff;
color:white;
padding:5px 20px;
border-radius:20px;
font-size:20px;

}

/* INFO */

.info{

display:flex;
gap:90px;
margin-top:20px;

}

.item{
display:flex;
gap:100px;
align-items:flex-start;

}

/* PRICE BOX */

.price-box{

margin-top:20px;
background:#f9fafc;
padding:30px;
border-radius:15px;
border:1px solid #dfe3ea;

}

.row{

display:flex;
justify-content:space-between;
margin:10px 0;

}

.total{

font-weight:bold;
color:#4c6fff;

}

/* CANCEL BUTTON */

.cancel-btn{

margin-top:20px;
width:100%;
padding: 15px;px;
border:none;
border-radius:20px;
background:#f7d6d6;
color:#d80000;
font-size:20px;
cursor:pointer;;

}

/* NOTE */

.note{

text-align:center;
margin-top:50px;
color:#777;

}
.menu{
    display:flex;
    gap:20px;
}

.menu-item{
    text-decoration:none;
    padding:10px 20px;
    border-radius:10px;
    color:black;
}

.menu-item:hover{
    background:#e6f0ff;
}

.active{
    background:#007bff;
    color:white;
}
